 <div class="container-narrow" id="top_body">
  <div class="masthead">
    <h3 class="site_title">
      <%= link_to image_tag('PuzzVeg-logo.png', { :border => '0', :alt => 'Buy It!'}), '/' %>
    </h3>
    <hr>
  </div>
  <!--
  <div class="top_page">
    <ul class="nav nav-pills pull-right">
      <li class="active" id="bought_button">
        <%= link_to '買った物リスト', 'bought_list' %>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="active" style="width:100%;text-align:center;">
        <%= link_to '教えて', 'pickup_recipe',:style=>"color:#ffffff;" %>
      </li>
    </ul>
  </div>
  -->
  <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var ctx = document.getElementById("myChart").getContext("2d");
var ctx = $("#myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            data: [65, 59, 80, 81, 56, 55, 40],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  <table class="table">
    <tr>
      <td><a href="/pickup_recipe?category=30">人気メニュー</a></td>
      <td><a href="/pickup_recipe?category=31">定番の肉料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=33">卵料理</a></td>
      <td><a href="/pickup_recipe?category=32">定番の魚料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=14">ご飯もの</a></td>
      <td><a href="/pickup_recipe?category=15">パスタ</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=16">麺・粉もの料理</a></td>
      <td><a href="/pickup_recipe?category=23">鍋料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=17">汁物・スープ</a></td>
      <td><a href="/pickup_recipe?category=36">簡単料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=18">サラダ</a></td>
      <td><a href="/pickup_recipe?category=37">節約料理</a></td>
    </tr>
  </table>
</div> <!-- /container -->
