<div class="container">
	<div class="top_page">
        <h2 class="form-signin-heading">今日のおすすめ</h2>
	<button class="btn btn-large btn-primary" type="button">教えて</button>
	</div>
</div> <!-- /container -->
