
<script type="text/javascript">

//棒グラフ
var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
  //グラフの種類
  type: 'horizontalBar',
  //データの設定
  data: {
      //データ項目のラベル
      labels: ["1月", "2月", "3月", "4月", "5月", "6月"],
      //データセット
      datasets: [{
          //凡例
          label: "契約数",
          //背景色
          backgroundColor: "rgba(75,192,192,0.4)",
          //枠線の色
          borderColor: "rgba(75,192,192,1)",
          //グラフのデータ
          data: [12, 19, 3, 5, 2, 3]
      }]
  },
  //オプションの設定
  options: {
      //軸の設定
      scales: {
          //縦軸の設定
          yAxes: [{
　　　　　　　　　//目盛りの設定
              ticks: {
                  //開始値を0にする
                  beginAtZero:true,
              }
          }]
      }
  }
});
</script>
 <div class="container-narrow" id="top_body">
  <div class="masthead">
    <h3 class="site_title">
      <%= link_to image_tag('PuzzVeg-logo.png', { :border => '0', :alt => 'Buy It!'}), '/' %>
    </h3>
    <hr>
  </div>
  <!--
  <div class="top_page">
    <ul class="nav nav-pills pull-right">
      <li class="active" id="bought_button">
        <%= link_to '買った物リスト', 'bought_list' %>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="active" style="width:100%;text-align:center;">
        <%= link_to '教えて', 'pickup_recipe',:style=>"color:#ffffff;" %>
      </li>
    </ul>
  </div>
  -->
  <canvas id="myBarChart" width="800" height="400"></canvas>

  <table class="table">
    <tr>
      <td><a href="/pickup_recipe?category=30">人気メニュー</a></td>
      <td><a href="/pickup_recipe?category=31">定番の肉料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=33">卵料理</a></td>
      <td><a href="/pickup_recipe?category=32">定番の魚料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=14">ご飯もの</a></td>
      <td><a href="/pickup_recipe?category=15">パスタ</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=16">麺・粉もの料理</a></td>
      <td><a href="/pickup_recipe?category=23">鍋料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=17">汁物・スープ</a></td>
      <td><a href="/pickup_recipe?category=36">簡単料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=18">サラダ</a></td>
      <td><a href="/pickup_recipe?category=37">節約料理</a></td>
    </tr>
  </table>
</div> <!-- /container -->
