<div class="container" id="top_body">
	<div class="top_page">
        <h2 class="form-signin-heading">今日のおすすめ</h2>
	<button class="btn btn-large btn-primary" type="button">
	<%= link_to '教えて', 'pickup_recipe',:style=>"color:#ffffff;"%>
	</button>
	</div>
</div> <!-- /container -->
