<div>
  <p>パズル感覚で、野菜を無駄にしないレシピの組み合わせを探すことができます。</p>
  <p>まず、手持ちの余っている野菜の数を入力してみましょう！</p>
  <ul class="nav nav-pills">
    <li class="active">
      <%= link_to '野菜登録する', 'add_vegetables',:style=>"color:#ffffff;" %>
    </li>
  </ul>
</div><!-- /container -->
