
// Place all the styles related to the recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

      /* Custom container */
      .container-narrow {
        margin: 0px auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      /*PC用*/
      @media (min-width: 769px) {

            #title{
                margin-top: 50px;
                font-size: 137.5%;
            }

            #cooking_img{/*料理の画像*/
                width:600px;
                height:600px;
            }

            #cooking_cost{
                text-align: right;
            }
    　　
　　　　　　.cooking_title{
                height: auto;
            }
            .site_title{
                display: inline-block;
            }
            #change_button{
                margin-top: 40px;
            }
            .recipe_title{
                height: 160px;
                background-repeat: no-repeat;
                background-size: 120px 120px;
                padding-left: 125px;
            }
        }

        /*スマートフォン用*/
        @media (max-width: 768px) {
            .nav > li > a{
                font-size: 90%;
                padding: 5px 8px;
            }
            #title{
                font-size: 140%;

            }
            #cooking_img{
                width:100%;
                height: 100%;
            }
            #cooking_cost{
                text-align: right;
            }
        .site_title{
                display: inline-block;
            }
            #change_button{
                margin-top: 30px;
            }
            .recipe_title{
              height: 80px;
              background-repeat: no-repeat;
              background-size: 80px 80px;
              padding-left: 85px;
            }
        }

