<style>
<!--
ul {
  margin: 2em;
}
li.title {
  margin: 0 2em;
  width: 100px;
}
-->
</style>

<%= form_tag('/regist_vagetables', method: :post) do %>
  <% @vagetable_list.each do |vagetable| %>
  <ul class="list-inline">
    <li class="title"><%= vagetable %></li>
    <li><%= number_field(vagetable, vagetable) %></li>
  </ul>
  <% end %>
  <input type="submit" value="送信" />
<% end %>
