<style>
<!--
ul {
  margin: 2em;
}
li.title {
  margin: 0 2em;
  width: 100px;
}
-->
</style>

<%= form_tag('/regist_vagetables', method: :post) do %>
  <% @vagetable_list.to_a.each do |vagetable| %>
  <ul class="list-inline">
    <li><%= image_tag('veg_' + vagetable[0].to_s + '.png', :size => '32x32') %></li>
    <li class="title"><%= vagetable[1] %></li>
    <li><%= number_field(vagetable[0], vagetable[0]) %></li>
  </ul>
  <% end %>
  <input type="submit" value="登録" />
<% end %>
