<style>
<!--
ul {
  margin: 2em;
}
li.title {
  margin: 0 1em;
  width: 100px;
}
-->
</style>

<%= form_tag('/regist_vagetables', method: :post) do %>
  <% @vegetable_stocks.to_a.each do |vegetable_stock| %>
  <ul class="list-inline">
    <li><%= image_tag('veg_' + vegetable_stock[0].to_s + '.png', :size => '32x32') %></li>
    <li class="title"><%= vegetable_stock[1] %></li>
    <li><%= number_field_tag(vegetable_stock[0], vegetable_stock[2], :min => 0, :step => 0.5) %></li>
  </ul>
  <% end %>
  <ul class="nav pull-right">
    <li class="active">
      <input type="submit" value="登録" class="btn"/>
    </li>
  </ul>
<% end %>
