<style>
    ul {
      margin: 2em;
    }
    li.title {
      margin: 0 1em;
      width: 100px;
    }
    .veg_register_body{
        text-align:center;
    }
    #veg_register_button{
        height:40px;
        width:200px;
    }
</style>
<div class="veg_register_body">
<%= form_tag('/regist_vagetables', method: :post) do %>
  <% @vegetable_stocks.to_a.each do |vegetable_stock| %>
  <ul class="list-inline">
    <li><%= image_tag('veg_' + vegetable_stock[0].to_s + '.png', :size => '32x32') %></li>
    <li class="title"><%= vegetable_stock[1] %></li>
    <li>
       <%= if vegetable_stock[2] != '0' then
            number_field_tag(vegetable_stock[0], vegetable_stock[2],:min => 0, :step => 0.01)
            else
            number_field_tag(vegetable_stock[0],:min => 0, :step => 0.01)
            end
        %>
    </li>
    <li><input type="button" value="＋" class="add-volume-btn"></li>
    <li>個</li>
  </ul>
  <% end %>
  <input type="submit" value="登録" class="btn btn-large btn-primary" id="veg_register_button"/>
<% end %>
</div>
