<h2>レシピカテゴリ表示ページ</h2>

<table>
  <caption>大カテゴリ一覧</caption>
  <thead>
    <tr>
      <th>カテゴリ番号</th>
      <th>カテゴリ名</th>
    </tr>
  </thead>
  <tbody>
    <% @large_categories.each do |large_category| %> 
    <tr>
      <td><%= large_category.id %></td>
      <td><%= large_category.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div><a href="/">TOPページへ</a></div>
