<div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">買い物リスト</a></li>
        </ul>
        <h3 class="muted">料理名タイトル</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>画像ここ</h1>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>ディスクリプション</h4>
	  <p>料理の説明</p>

          <h4>URL</h4>
	  <p>https://hogehoge</p>

          <h4>材料リスト</h4>

	  <table class="table">
	  <tr>
		<td>材料名</td>
		<td>量</td>
	　</tr>  
	  <tr>
		<td>パスタ</td>
		<td>200g</td>
	  </tr>
	  </table>
        </div>

        <div class="span6">
	
          <h4>所要時間</h4>
	  <p>15分</p>

          <h4>費用</h4>
	  <p>200円</P>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->
