<div class="container">
  
  <div class="masthead">
    <h3 class="muted"><%= @menu["recipeTitle"] %></h3>
  </div>

  <div><%= @menu["recipeDescription"] %></div>

  <table class="table">
<%
  @menu["recipeMaterial"].each do |m|
%>
    <tr><td><div class="checkbox"><label><input type="checkbox"><%= m %></label></div></td></tr>
  
<%
  end
%>
  </table>

  <button class="btn btn-large btn-primary" type="button">
    <%= link_to '戻る', 'pickup_recipe',:style=>"color:#ffffff;"%>
  </button>

</div>
