<div class="container">
  
    <div class="masthead">
      <h3 class="muted">料理名タイトル</h3>
    </div>

    <div>絶対にうまい！！ペペロンチーノ</div>

    <div class="checkbox">
      <label><input type="checkbox">パスタ</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">塩</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">コンソメの素</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">ニンニク</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">赤唐辛子</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">パセリのみじんぎり</label>
    </div>

    <button class="btn btn-large btn-primary" type="button">
      <%= link_to '戻る', 'pickup_recipe',:style=>"color:#ffffff;"%>
    </button>

</div>
